
.mobile-nav-button-etnoc{
	font-size: 300%;
	color:#fff;
}

.nav-button-etnoc{
	font-size: 200%;
	color:#fff;
}

.well-etnoc{
	background-color: #000;
	padding:15px;
	border-color: #fff;
	border-radius: 15px;
}

.product-header-etnoc{
	 text-align:center;
	 color:#fff;
}

.btn-cancel-etnoc{
	border:1px solid #fff;
	border-radius:35px;
	background-color:#700;
}

.btn-continue-etnoc{
	border:1px solid #fff;
	border-radius:35px;
	background-color:#000;
}